.map-section{
    text-align: center;
    .map-header{
        font-size: 26px;
    }
    .map-render{
        margin: 0 auto;
    }
    .place-landmark-icons{
        background-color: #fff;
        border: 1px solid white;
        border-radius: 5px;
        width: 80px;
        text-align: center;
        align-items: center;
        h4{
            font-size: 12px;
            background-color: #fff;
            margin: 0;
        }
        img{
            width: 70px;
        }
    }
}